body{
    margin:0px;
    font-family: Arial;
}
header{
    background-color: #f0f0f0;
    border-bottom: 5px solid #c3c3c3;
    padding: 20px;

}
h1{
    color:grey;
    font-size: 25px;
    font-family: Arial;
    margin:0px;

}
fieldset{
    margin:15px;
    padding: 25px;
}
fieldset>legend{
    font-family: Arial;
    font-size: 18px;
    color:#000000;
    font-weight: bold;

}
fieldset>label{
    padding:10px;
    display:inline-block;
}
fieldset>input, fieldset>textarea{
    border: 1px solid #D9F4FC;
}