<!DOCTYPE html>
    <head>
        <title>Práctica 7.1, ejercicio 1</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="uno.css">
    </head>
    <body>
        <!--CABECERA-->
       <header>
        <h2>Cabecera de mi página</h2>
       </header>

       <!--MENÚ IZQ-->
       <div class="menu">
        <ul>
            <li><a href="#">Menú 1</a></li>
            <li><a href="#">Menú 2</a></li>
            <li><a href="#">Menú 3</a></li>
        </ul>
       </div>
       
       <!--CONTENIDO DCHA-->
       <div class="contenido">
        <div class="texto">
            <h3>Contenido de la página</h3>
            <br>
            <p>Aquí ponemos en contenido principal de la página</p>
        </div>
       </div>

       <!--FOOTER-->
       <footer>
        <p>Pie de mi página</p>
       </footer>
    </body>
</html>