*{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background-image: url(imagen3.jpg);
	background-repeat: repeat-y;
	width: 80%;
	margin: 0 auto;
}
header{
	background-image:url(imagen4.jpg);
	width: 100%;
	background-repeat:no-repeat;
	height:200px;
	text-align: center;
	margin-top: 50px;
	border-radius: 10% 10% 0 0 ;
}
.cabecero{
	margin: 0 auto;
	width:40%;
	height: 100px;
	background-color:#FCE7EE;
	color:#988C98;
	padding: 40px 5px;
	border-radius: 20%;
	border:4px dashed  #FAF1D0;
}
main{
	background-color: #FAF1D0;
	height:1570px;
}
nav{
	background-color:#FCE7EE; 
	width: 100%;
	float: left;
	text-align: center;
	height:50px;
	position: relative;
}
ul{
	margin-top: 5px;
	list-style: none;
	padding:10px;
}
ul > li{
	float: left; 
	text-align: center;
	padding: 2px;
	background-color:#FCE7EE; 
    color:#988C98;
	border-color: #C7E9EB;
	position: relative;
	transition: background 0.5s ease-in-out;
}
ul>li:hover{
	background-color:#e8cfd7; 
    color:#615761;
	border: 2px dashed #C7E9EB;
}
ul > li > ul{ 
	display: none;
	position: absolute;
	margin-top: 4%;
	margin-left:0%;
	
}
ul > li:hover > ul{ 
	display: block;
}
ul > li > ul > li{ 
	float: none;
	background-color:#e8cfd7; 
    color:#615761;
	border: 2px dashed #C7E9EB;
	text-align: left;
}
li{
	border-radius: 15%;
	border:2px dashed #C7E9EB;
	width: 120px;
	margin-left: 20px;
}
li>a{
	text-decoration: none;
	font-weight: bold;
	color:#6B5C47;
}
.buscador{
	color:#988C98;
}
.cuerpo{
	width:70%;
	float:left;
	background-color: #FAF1D0;
	height:100%;
}
.bloque1{
	margin: 10px;
	border:2px dashed #C7E9EB;
	border-radius: 10%;
	height: auto;
	float: left;
}
.p1{
	margin:20px 10px;
	width:70%;
	text-align: justify;
	float: left;
}
.p2{
	margin:20px 10px;
	width:50%;
	text-align: justify;
	float: left;
		
}
h2{
	color:#988C98;
	background-color: #FCE7EE;
	text-align: center;
	margin:20px 10px 0 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fotogato1{
	width:210px;
	height: 270px;
	float: left;
}
.fotogato2{
	width:380px;
	height: 250px;
	float: left;
}
.bloque2{
	margin:0% 20%;
	border:2px dashed #C7E9EB;
	background-color: #FCE7EE;
	border-radius: 10%;
	padding:10px;
	height: auto;
	width: 60%;
	float: left;
}
.label{
	width:50%;
	float: left;
}
.input{
	width:50%;
	float: left;
}
h3{
	color:#988C98;
	background-color: #C7E9EB;
	text-align: center;
	margin-top:20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
	margin:0 auto;
	width: 50%;
	border-spacing: 0;
	
}
caption{
	border: 0px none;
	color:#988C98;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	margin-bottom: 6%;
}
td{
	border:2px dashed #988C98;
	border-collapse:collapse;
	width: 400px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
}
aside{
	float: left;
	width: 30%;
	background-image: url(imagen2.jpg);
	background-repeat:repeat-y;
	height: 100%;
}
.gatos{
	width: 70%;
	height: auto;
	margin-left:50px;
}
footer{
	background-color: #988C98;
	width: 100%;
	height: 150px;
	float: left;
	border-radius: 0 0 10% 10%;
}
footer>p{
	padding:10px;
}
hr{
	margin-top: 20px;
	border: 1px dashed #FAF1D0;
}
.button{
    transition: background 0.5s ease-in-out;
}

.button:hover {
    background: #FAF1D0; /* Fading color on hover */
	color: #6B5C47;
	border: 1px solid #988C98;
	border-radius: 2px;
	padding: 1px 0px;
}