
.a{
    background-color: black;
	border-bottom-right-radius: 45px;
    color:white;
    width: 100px;
    height: 40px;
    margin: 25px;
}
.b{
	height: 50px;
	width: 50px; 
	background-color: black; 
	color: white;
	border-radius: 100px;
	text-align: center;
    margin:25px;
}
.c{
    background-color: black;
	border-radius: 25px;
    color:white;
    width: 100px;
    height: 40px;
    margin: 25px;
}
.d{
    background-color: black;
	border-radius: 50px 50px 15px 50px;
    color:white;
    width: 160px;
    height: 60px;
    margin: 25px;
}
.e{
    background-color: black;
	border-radius: 50px 15px 25px 10px;
    color:white;
    width: 100px;
    height: 40px;
    margin: 25px;
}
.f{
    background-color: black;
	border-radius: 100px 100px 0px 0px;
    color:white;
    width: 50px;
    height: 50px;
    margin: 25px;
}